# --- ENV & SECRETS (САМОЕ ВАЖНОЕ) ---
.env
.env.local
.env.production
**/.env

# --- NODE & HARDHAT ---
node_modules/
cache/
artifacts/
ignition/deployments/
typechain/
typechain-types/
coverage/
coverage.json
deployed.json

# --- INFRA & GETH (Ваши настройки) ---
infra/data/
**/chaindata/
**/ancient/
**/keystore/
infra/node1_data/
infra/node2_data/
infra/static-nodes.json
infra/genesis.json
infra/password.txt
infra/scripts/generated_keys.json
infra/blabla.yaml

# --- PYTHON ---
**/__pycache__/
**/*.pyc
**/venv/
**/.venv/
**/.mypy_cache

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo