# ==============================================================================
# ПРИМЕР ФАЙЛА ОКРУЖЕНИЯ (.env)
# ==============================================================================
# Переменные в настойщий .env автоматически генерируются скриптом setup.py!
# Данный файл содежрит лишь описание данных переменных.
# ==============================================================================

# --- КОНФИГУРАЦИЯ BLOCKCHAIN (POA NETWORK) ---
# Адреса аккаунтов-валидаторов, которые имеют право подписывать блоки (Clique Consensus).
# Эти адреса должны совпадать с теми, что прописаны в genesis.json (extraData).

VALIDATOR_1_ADDRESS=0x8c4b9aE08cd8F0c80019C405fc0D7990a23e61EE
VALIDATOR_2_ADDRESS=0xd6825c6ecB4F3161d2Ef9cDeE8e38D89b4e2A55D

# --- НАСТРОЙКИ P2P СЕТИ (СВЯЗЬ МЕЖДУ НОДАМИ) ---
# Список Enode URL всех нод в сети.
# Формат: enode://<PublicNodeKey>@<IP_Address>:<Port>
# Ноды используют этот список для первоначального соединения (bootstrapping).
# Если вы меняете IP-адреса в docker-compose, обновите их и здесь.

BOOTNODES=enode://b444c49c995069f5c4604e7b747cf6959947db4b1eac3e06581c59645c8e4f5df51570c9c6453c375aa8314e35e31849e8ec4784e05d17d465ae82d113875d4e@172.30.0.10:30303,enode://6d2533aa52f5046bcdf2e142c10e938106f77dd5cd85a8dfa51803a65d5b2d19dc899c4e31bb7372a6b8c052543cbb6c60c1cf73c352ba9281a8ffaf17c1c73a@172.30.0.20:30304

# (Опционально) Отдельные поля для ключей нод, если они нужны для отладки или скриптов.
# BOOTNODE_KEY - Приватный сетевой ключ ноды 1 (hex, 32 байта). Хранить в секрете!
BOOTNODE_KEY=c2da53d3a10d66f69e9f20daede9c7b900d21af900cad0f9cc0fe4f2567d0dcb

# BOOTNODE_PUB - Публичный сетевой ключ ноды 1 (часть Enode URL).
BOOTNODE_PUB=a322323049ef0d1c04460407ffa6e4fa17840c36fa31d5e942674d0be07ee529c7e5f3817778982689b94503f64600b23ee54df182b46b8bf4d597002b26d459


# --- КОНФИГУРАЦИЯ БАЗЫ ДАННЫХ (POSTGRESQL) ---
# Данные для подключения к сервису 'db' в docker-compose.

# Имя пользователя базы данных
DB_USER=dev

# Пароль пользователя базы данных. 
# Для продакшена используйте сложный пароль!
DB_PASSWORD=devpass_secure_123

# Имя создаваемой базы данных
DB_NAME=unidapp